In [49]:
import pandas as pd
pd.set_option('display.max_colwidth',100)

In [50]:
df=pd.read_csv('emails.csv')
df.head()

,text,spam
0,Subject: naturally irresistible your corporate identity lt is really hard to recollect a compan...,1
1,Subject: the stock trading gunslinger fanny is merrill but muzo not colza attainder and penulti...,1
2,Subject: unbelievable new homes made easy im wanting to show you this homeowner you have been...,1
3,Subject: 4 color printing special request additional information now ! click here click here f...,1
4,"Subject: do not have money , get software cds from here ! software compatibility . . . . ain ' ...",1

In [51]:
import string
import re 
import nltk

In [52]:
stopwords = nltk.corpus.stopwords.words('english')
print(stopwords)
stemmer=nltk.PorterStemmer()

['a', 'about', 'above', 'after', 'again', 'against', 'ain', 'all', 'am', 'an', 'and', 'any', 'are', 'aren', "aren't", 'as', 'at', 'be', 'because', 'been', 'before', 'being', 'below', 'between', 'both', 'but', 'by', 'can', 'couldn', "couldn't", 'd', 'did', 'didn', "didn't", 'do', 'does', 'doesn', "doesn't", 'doing', 'don', "don't", 'down', 'during', 'each', 'few', 'for', 'from', 'further', 'had', 'hadn', "hadn't", 'has', 'hasn', "hasn't", 'have', 'haven', "haven't", 'having', 'he', "he'd", "he'll", 'her', 'here', 'hers', 'herself', "he's", 'him', 'himself', 'his', 'how', 'i', "i'd", 'if', "i'll", "i'm", 'in', 'into', 'is', 'isn', "isn't", 'it', "it'd", "it'll", "it's", 'its', 'itself', "i've", 'just', 'll', 'm', 'ma', 'me', 'mightn', "mightn't", 'more', 'most', 'mustn', "mustn't", 'my', 'myself', 'needn', "needn't", 'no', 'nor', 'not', 'now', 'o', 'of', 'off', 'on', 'once', 'only', 'or', 'other', 'our', 'ours', 'ourselves', 'out', 'over', 'own', 're', 's', 'same', 'shan', "shan't", 'she', "she'd", "she'll", "she's", 'should', 'shouldn', "shouldn't", "should've", 'so', 'some', 'such', 't', 'than', 'that', "that'll", 'the', 'their', 'theirs', 'them', 'themselves', 'then', 'there', 'these', 'they', "they'd", "they'll", "they're", "they've", 'this', 'those', 'through', 'to', 'too', 'under', 'until', 'up', 've', 'very', 'was', 'wasn', "wasn't", 'we', "we'd", "we'll", "we're", 'were', 'weren', "weren't", "we've", 'what', 'when', 'where', 'which', 'while', 'who', 'whom', 'why', 'will', 'with', 'won', "won't", 'wouldn', "wouldn't", 'y', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've"]

In [53]:
"""
def clean(text):
    for word in text:
        if word not in string.punctuation:
            text=[word.lower()]
    tokens=re.split('\W+',text)
    for x in tokens:
        if x not in stopwords:
            text=[stemmer.stem(x)]
    return text
df['cleaned_text']=df['text'].apply(lambda x:clean(x))

"""

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\binar\AppData\Local\Temp\ipykernel_13332\261207762.py:1: SyntaxWarning: invalid escape sequence '\W'
  """

"\ndef clean(text):\n    for word in text:\n        if word not in string.punctuation:\n            text=[word.lower()]\n    tokens=re.split('\\W+',text)\n    for x in tokens:\n        if x not in stopwords:\n            text=[stemmer.stem(x)]\n    return text\ndf['cleaned_text']=df['text'].apply(lambda x:clean(x))\n\n"

In [54]:
def clean(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation])
    tokens = re.split('\W+', text)
    text = [stemmer.stem(word) for word in tokens if word not in stopwords]
    return text

df['cleaned_text']=df['text'].apply(lambda x:clean(x))

<>:3: SyntaxWarning: invalid escape sequence '\W'
<>:3: SyntaxWarning: invalid escape sequence '\W'
C:\Users\binar\AppData\Local\Temp\ipykernel_13332\2131032482.py:3: SyntaxWarning: invalid escape sequence '\W'
  tokens = re.split('\W+', text)

In [55]:
df.head()

,text,spam,cleaned_text
0,Subject: naturally irresistible your corporate identity lt is really hard to recollect a compan...,1,"[subject, natur, irresist, corpor, ident, lt, realli, hard, recollect, compani, market, full, su..."
1,Subject: the stock trading gunslinger fanny is merrill but muzo not colza attainder and penulti...,1,"[subject, stock, trade, gunsling, fanni, merril, muzo, colza, attaind, penultim, like, esmark, p..."
2,Subject: unbelievable new homes made easy im wanting to show you this homeowner you have been...,1,"[subject, unbeliev, new, home, made, easi, im, want, show, homeown, pre, approv, 454, 169, home,..."
3,Subject: 4 color printing special request additional information now ! click here click here f...,1,"[subject, 4, color, print, special, request, addit, inform, click, click, printabl, version, ord..."
4,"Subject: do not have money , get software cds from here ! software compatibility . . . . ain ' ...",1,"[subject, money, get, softwar, cd, softwar, compat, great, grow, old, along, best, yet, tradgedi..."

In [56]:
print(df[df['spam'] == 1].shape[0])
print(df[df['spam'] == 0].shape[0])

1368
4360

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5728 entries, 0 to 5727
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   text          5728 non-null   object
 1   spam          5728 non-null   int64
 2   cleaned_text  5728 non-null   object
dtypes: int64(1), object(2)
memory usage: 134.4+ KB

In [59]:
from sklearn.feature_extraction.text import CountVectorizer

vectorize=CountVectorizer(analyzer=clean)
X_counts = vectorize.fit_transform(df['text'])
df.head()

,text,spam,cleaned_text
0,Subject: naturally irresistible your corporate identity lt is really hard to recollect a compan...,1,"[subject, natur, irresist, corpor, ident, lt, realli, hard, recollect, compani, market, full, su..."
1,Subject: the stock trading gunslinger fanny is merrill but muzo not colza attainder and penulti...,1,"[subject, stock, trade, gunsling, fanni, merril, muzo, colza, attaind, penultim, like, esmark, p..."
2,Subject: unbelievable new homes made easy im wanting to show you this homeowner you have been...,1,"[subject, unbeliev, new, home, made, easi, im, want, show, homeown, pre, approv, 454, 169, home,..."
3,Subject: 4 color printing special request additional information now ! click here click here f...,1,"[subject, 4, color, print, special, request, addit, inform, click, click, printabl, version, ord..."
4,"Subject: do not have money , get software cds from here ! software compatibility . . . . ain ' ...",1,"[subject, money, get, softwar, cd, softwar, compat, great, grow, old, along, best, yet, tradgedi..."

In [60]:
X_counts

<Compressed Sparse Row sparse matrix of dtype 'int64'
	with 537816 stored elements and shape (5728, 29284)>

In [63]:
df2=pd.DataFrame(X_counts.toarray())

In [64]:
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,29274,29275,29276,29277,29278,29279,29280,29281,29282,29283
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0